body {
    background-color: rgba(141, 219, 134, 0.2);
}

.wraper {
    align-items: center;
    width: 50%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 2px solid rgb(106, 138, 106, .5);
    border-radius: 10px;  
    background-color: rgb(66, 117, 66, 0.2);
    box-shadow: 5px 5px 20px rgb(26, 77, 61);
}

img.avatar {
    float:right;
    height:12em;
    margin-top: .1em;
    border-radius: 5px;
    box-shadow: .1em .1em .2em rgb(26, 77, 61);
}

img.avatar:hover {
    box-shadow: .2em .2em .3em rgb(26, 77, 61);
}

h1 {
    /*font-family: 'Times New Roman', Times, serif;*/
    font-family: 'Arvo', serif;
}

.bio {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}

.portfolio {
    display: inline;
    text-decoration: none;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: rgb(24, 44, 224);
}

.portfolio:hover {
    text-shadow: .1em .1em .2em rgb(107, 172, 245);
}

.telegram {
    display: inline;
    text-decoration: none;
}

.telegram p {
    margin-top: 0px;
    font-family: 'Oswald', sans-serif;
    color: rgb(24, 44, 224);
}

.icon {
    vertical-align: text-bottom;
    height: 1em;
    padding: .2em;
}

.telegram:hover {
    text-shadow: .1em .1em .2em rgb(107, 172, 245);
    text-decoration: none;
}
